body {
	background-image: url(unit_3/images/WadiRum.jpg);
	background-size: cover;
}

h1 {
	color: #FFF;
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	text-align: center;
	font-size: 36px;  
}

h2 {
	color: #FFF;
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	text-align: left;
	font-size: 28px;  
}

h3 {
	color: #FFF;
	font-family: Helvetica, sans-serif;
	font-weight: normal;
	text-align: left;
	font-size: 22px;  
}

p {
	color: #FFF;
	font-family: Helvetica, sans-serif;
	font-weight: normal;
	text-align: left;
	font-size: 14px;  
}

#slogan {
	color: #FFF;
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	font-style: italic;
	text-align: center;
	font-size: 36px;  
}